.premierblocktitre {
    color: goldenrod;
} 
body {
  background-color: rgb(65, 65, 65) !important;
  width: 100%;
}
/* tout sur le modal du formulaire permettant le contact */
.modal{
  display: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.container1 {
  margin-top: 15em;
}

.color {
  background-color: rgb(4, 53, 83);
}
.annoncecontact {
  font-size: 1.3em;
  border: 2px solid rgb(0, 0, 0); 
  color: rgb(113, 132, 166);
  font-size: bold;
}
.fermer {
  background-color: rgb(113, 132, 166) !important;
  border: 0;
  width: 40%;
  margin-bottom: 1em;
}

.contactezmoi {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 1em;
}

/* Partie permettant la mise en page propre des formulaires */
input, label {
  display:flex;
}

.textraison{
  width: 80% !important;
  display: block;
  width: 40em;
  height: 10em;
  resize: none !important;
}


/* Fin du modal */


.navperso {
  background-color: rgb(113, 132, 166)!important;
  width: 100%;
}
.navperso1 {
  background-color: rgb(113, 132, 166)!important;
  width: 15%;
  display: flex;
  justify-self: flex-end;
}
.assemblagenavbar{
  display: flex;
  width: 100%;
}
.inexist {
  visibility: hidden;
}


/* Partie index permettatn animation css */
.contindex {
  height: 100%;
}


























/* mise en page du CV */

.cvprincipal {
  margin-top: 3.5%;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: azure;

}
.premiercontainercv {
  display: flex;
  height: 20%;
}
.presentationgeneral {
  width: 85%;
  align-items: center;
  border: 1px solid rgb(113, 132, 166);
  margin: 0 0.5em 0.5em 0 ;
  color: azure;
}
.photo{
  width: 10%;
  border: 1px solid rgb(113, 132, 166);
  margin: 0 0 0.5em 0.5em ;
}
.deuxiemecontainercv {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
}
.contincontcv{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0.5em 0.5em 0.5em 0;
}
.diplome{
  height: 50%;
  width: 100%;
  border: 1px solid rgb(113, 132, 166);
  margin-bottom: 1em;
  color: azure;

}
.experiences{
  height: 20%;
  width: 100%;
  border: 1px solid rgb(113, 132, 166);
  color: azure;
  margin: 0.5em 0 0 0;
}
.reseau{
  border: 1px solid rgb(113, 132, 166);
  width: 20%;
  margin: 0.5em 0 0.5em 0.5em;
  color: azure;

}
.competences{
  width: 100%;
  height: 50%;
  border: 1px solid rgb(113, 132, 166);
  margin: 0.5em 0 0 0;
  color: azure;

}












/* Mise en page des projets ! */

#projetwrapper {
  display: grid;
  column-gap: 3em;
  row-gap: 3em;
  margin: 2em 2em 0 2em;
  height: 100%;
}
.proj1{
  grid-column-start:1 ;
  grid-column-end: 2;
  background-color: black;
  grid-row-start: 1 ;
  grid-row-end:3;
}
.proj2{
  grid-column-start:2 ;
  grid-column-end: 3;
  background-color: black;
  grid-row-start: 1 ;
  grid-row-end:3;
}
.proj3{
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: black;
  grid-row-start: 1 ;
  grid-row-end:3;
}
.proj4{
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: black;
  grid-row-start: 1 ;
  grid-row-end:3;
}
.proj5{
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
  grid-row-start: 3 ;
  grid-row-end:5;
}
.proj6{
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: black;
  grid-row-start: 3 ;
  grid-row-end:5;
}
.proj7{
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: black;
  grid-row-start: 3 ;
  grid-row-end:5;
}
.proj8{
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: black;
  grid-row-start: 3 ;
  grid-row-end:5;
}
.proj{
  margin: 2em;
}
.containerproj{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.imageproj{
  height: 100%;
  position: relative;
}

.titreproj, .titreproj:hover{
  color: yellowgreen ;
  text-decoration: underline black !important;
}
.form_signup{
  width: 30%;
}
.formtitle{
  color: white;
font-size: 2em;
font-family: 'Roboto', sans-serif;

}
label, div, button {
  color: white;
  font-family: 'Roboto', sans-serif;

}
input{
  width: 60% !important;
}
.form-login{
  margin-top: 3em;
  border: 1px solid rgb(113, 132, 166) ;
  background-color: rgb(1, 0, 0);
}






























/* Test annimations de scroll */
.imagindex{
  margin-top: 5em;
  border: 1px solid black;
  margin-bottom: 20em;
}
.reveal{
  margin-right: 1em;
  display: flex;
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


/* Mise en place d'un élément bougeant */
/* @keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}
@media (prefers-reduced-motion: no-preference) {
    .premierblocktitre {
      animation-name: wipe-enter;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  } */

  /* test scroll down anim */



  section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scroll-downn {
    height: 90px;
    width: 50px;
    border: 2px solid yellow;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;

  }
  .scroll-downn::before,
  .scroll-downn::after {
    content: "";
    border: 2px solid rgb(30, 175, 239);
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-downn::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }

  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  


/*  Partie s'occupant de la mise en forme des éléments sur la page admin */
.containeradmin{
  margin-top: 5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-admin{
  border: 1px solid rgb(113, 132, 166) ;
  background-color: rgb(1, 0, 0);
}
.changeadmin{
  border: 1px solid rgb(113, 132, 166) ;
  background-color: rgb(1, 0, 0);
}
.form-article{
  margin: 2em 0 2em 0;
  border: 1px solid rgb(113, 132, 166) ;
  background-color: rgb(1, 0, 0);
}
.texte_article{
  width: 100% !important;
  display: block;
  width: 40em;
  height: 50em !important;
}
textarea {
  overflow: auto;
  resize: none !important;
}
.affichage_log {
  height: 200px !important; 
  overflow: auto !important; 
  margin: 2em 0 2em 0;
  border: 1px solid rgb(113, 132, 166) ;
  background-color: rgb(1, 0, 0);
}


/* Partie s'occupant de la page article */
.main_article{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titre_article{
    width: 50%;
    justify-content: center;
    display: flex;
}
.contenu_article{
    width: 50%;
    border: 1px solid blue;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.selection_article{
  padding: 1em;
  border: 1px solid rgb(113, 132, 166) ;
  background-color: rgb(1, 0, 0);
  position: fixed;
  top: 20%;
  left: 5%;
}


/* Partie s'occupant des commentaires */
.boite_de_commentaire {
  background-color: beige;
  border: 1px solid black;
  width: 35%;
  padding: 1em;
  margin: 0 0 1em 0;
  color: black;
}
.black {
  color: black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.copyright {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: -50px;
}
.center_paragraphe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 200px;
}